@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Karla:wght@400;700&display=swap');

.container {
  width: 550px;
  height: 100%;
  background-color: white;
}

/* Header */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-image: linear-gradient(90deg, #672280 1.18%, #a626d3 100%);
  color: white;
}
.logo {
  display: flex;
  align-items: center;
  gap: 6.7px;
  margin-left: 20px;
}
.troll {
  width: 31.31;
  height: 26.22px;
}
.title {
  font-family: 'Karla', sans-serif;
  font-weight: 700;
  font-size: 20.7482px;
  line-height: 24px;
  letter-spacing: -0.1em;
}
.title-project {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  text-align: right;
  margin-right: 37px;
}

/* Form */
main {
  padding: 36.5px;
}
.meme-form {
  display: grid;
  grid-template: 40px 40px / 1fr 1fr;
  gap: 16px;
}
.meme-form > input {
  border-radius: 5px;
  border: 1px solid #d5d4d8;
}
.meme-form > input {
  font-family: 'Karla', sans-serif;
  padding: 10px;
}
#submitBtn {
  font-family: 'Karla', sans-serif;
  grid-column: 1 / -1;
  height: 40px;
  border-radius: 5px;
  background-image: linear-gradient(90.41deg, #711f8d 1.14%, #a818da 100%);
  font-size: 16px;
  line-height: 18.7px;
  letter-spacing: -0.1em;
  font-weight: 700;
  color: white;
}
#submitBtn:hover {
  background-color: #3e8e41;
}
#submitBtn:active {
  background-color: #3e8e41;
  box-shadow: 0 1px rgb(153, 114, 114);
  transform: translateY(2px);
}
.imageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.meme-img {
  max-width: 100%;
  max-height: 519px;
  margin-top: 36px;
  border-radius: 2px;
}
